/cert.pem
/karma-reports
/key.pem
/lib/*.*
/lib/components
/lib/notifications
/lib/vector
/node_modules
/packages/
/vector/bundle.*
/vector/components.css
/vector/emojione/
/vector/config.json
/vector/olm.js
.DS_Store
